@font-face {
  font-family: "Ziamimi-Bold";
  src: url('assets/fonts/ZiamimiBold.otf');
}
@font-face {
  font-family: "Ziamimi-Light";
  src: url('assets/fonts/ZiamimiLight.otf');
}
@font-face {
  font-family: "Ziamimi-Regular";
  src: url('assets/fonts/ZiamimiRegular.otf');
}

@font-face {
  font-family: 'Scout-light';
  src: url('assets/fonts/Scout-Light.otf')
}
