.counter {
  position: absolute;
  position: fixed;
  z-index:100000;
  width: 150px;
  height:50px;
  top:37px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  left:calc(50% - 75px);

  .page{
    font-family: 'Ziamimi-Bold';
    font-size: 20pt;
    color: #ffffff;

    &:before, &:after {
      content: '';
      display: inline-block;
      position: absolute;
      width:100%;
      height:100%;
      opacity:1;
      left:0;
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -o-transform: scaleX(0);
      transform: scaleX(0);
    }
    &:before{
      background-color: #000000;
    }
    &:after{
      background-color: #FFFFFF;
    }
  }
  .previous, .next{
    cursor: pointer;
    transition: all 0.5s;
    svg{
      fill: #ffffff;
      width:20px;
      right:0px;
      transition: all 0.5s;
    }
    &:hover{
      svg{
        position: relative;
        right: 3px;
      }

    }
  }
  .next{
    transform: rotateY(180deg);
  }

}

@media screen and (max-width: 980px){
  .counter{
    width: 90%;
    top: 78vh;
    left: 5%;
    position: absolute;

    .page{
      font-size: 70px !important;
    }
    .arrow{
      svg{
        width: 50px;
      }
    }
  }
}
