@font-face {
    font-family: "BebasNeueRegular";
    src: url('../font/BebasNeueRegular.otf');
}
@font-face {
    font-family: "Cocogoose";
    src: url('../font/Cocogoose.otf');
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url('../font/Montserrat-Regular.otf');
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url('../font/Montserrat-Bold.otf');
}

@font-face {
    font-family: "Montserrat-Light";
    src: url('../font/Montserrat-Light.otf');
}

@font-face {
    font-family: "Big-john";
    src: url('../font/Big-john.otf');
}
