<div class="content_en main french">
    	<div class="services" id="service">
    		<h2>Our Services </h2>
    		<ul class="multiple_item">
    			<li class="services_parts growth left">
    				<img src="dist/images/growth.png" alt="">
    				<h3>
    					Managing your growth: Start Up to Scale-Up

    				</h3>
    				<div class="content_services ">
    					<ul>
    						<li>Project Management (finance, payroll & HR systems)</li>
    						<li>Due diligence of target acquisitions and integration of their accounts </li>
    						<li>Preparation of your accounts for an IPO, re-statement of historic quarters and reconciliation between US and Local GAAP</li>
    					</ul>
    					

						

						
    				</div>
    			</li>
    			<li class="services_parts international bottom">
    				<img src="dist/images/international.png" alt="">
    				<h3>
    					Getting ready to go International
    				</h3>
    				<div class="content_services">
    					<ul>
    						<li>Organizing your French accounting to comply with US GAAP</li>
    						<li>Rationalizing your French chart of accounts for international expansion</li>
    					</ul>
    			
    				</div>
    			</li>
    			<li class="services_parts team bottom">
    				<img src="dist/images/team.png" alt="">
    				<h3>
    					Optimizing the organization of your finance team
    				</h3>
    				<div class="content_services">
    					<ul>
    						<li>Review and implementation of procedures, organizing the workload</li>
    						<li>Evaluation of productivity gains via the implementation of interfaces</li>
    						<li>Ensuring real team work with the Human Resources and IT departments</li>
    					</ul>
    				</div>
    			</li>
    			<li class="services_parts prevision right">
    				<img src="dist/images/prevision.png" alt="">
    				<h3>
    					Forecasting Improvements
    				</h3>
    				<div class="content_services">
    					<ul>
    						<li>Understanding and following your profitability and anticipating your cash flow needs</li>
    						<li>Implementing simple and practical dashboard reporting and KPIs</li>
    						<li>Organizing the implementation of a forecasting tool</li>
    					</ul>
    				</div>
    			</li>
    		</ul>
    	</div>
    	<div class="experience" id="references">
    		<h2>References</h2>
    		<div class="experience_content">
	    		<div class="experiences left">
	    			<h3>Organizing an IPO in the United States </h3>
	    			<div class="description">
		    			<ul>
		    				<li>
			    				Preparing multi entity international accounts for an IPO on the NASDAQ  
							</li>
		    				<li>
		    					Management of reporting cycles according to US GAAP and IFRS

		    				</li>
		    				<li>
		    					Organization of Sarbanes Oxley documentation
		    				</li>
		    			</ul>
		    		</div>
		    	</div>
		    	<div data-sr="enter right" class="experiences right">
		    		<h3>
		    			Managing Growth 
		    		</h3>
		    		<div class="description">
		    			<ul>
		    				<li>
    							Managing the integration into the consolidation of the accounts of new international legal entities
		    				</li>
		    				<li>
		    					Managing the improvement of your EBITDA margin 
		    				</li>
		    			</ul>
		    		</div>
		    	</div>
		    	<div class="experiences left ">
		    		<h3>
		    			Accounting System Implementation & Interfaces 
		    		</h3>
		    		<div class="description">
		    			<ul>
		    				<li>
		    					Implementation of SAP (FI / MM / AA) and reconciliation between different accounting principles
		    				</li>
		    				<li>
		    					Project Management of a « Smart Close » project to reduce the reporting deadlines and transition from IFRS to US GAAP
		    				</li>
		    			</ul>
		    		</div>
		    	</div>
		    	<div class="experiences right">
		    		<h3>
		    			Financial Planning & Analysis
		    		</h3>
		    		<div class="description">
		    			<ul>
		    				<li>
		    					Management of budget and quarterly review processes
		    				</li>
		    				<li>
		    					Organization of monthly reporting processes
		    				</li>
		    			</ul>
		    		</div>
		    	</div>
		    	<div class="experiences left ">
		    		<h3>
		    			Audit & Tax Optimization 
		    		</h3>
		    		<div class="description">
		    			<ul>
		    				<li>		
		    					Deferred tax calculation and analysis and organization of the optimization of the effective tax rate
		    				</li>
		    				<li>
		    					Management of the relationship with the auditors and external providers
		    				</li>
		    			</ul>
		    		</div>
		    	</div>
		    	<div class="experiences right">
		    		<h3>
		    			Investment Project Analysis
		    		</h3>
		    		<div class="description">
		    			<p>
		    				Analysis of capital expenditure requests: cash flows, calculation of ROCE and payback periods
		    			</p>
		    		</div>
		    	</div>
    		</div>
    	</div>

    	<div class="values" id="values">
    		<h2>Our Values</h2>
    		<div class="values_points">
    			<div class="item left creativity">
    				<img src="dist/images/light_bulb.png" alt="">
    				<h3>
    					Creativity & Innovation
    				</h3>
    				<div class="content_values">
    					<ul>
    						<li>Proposing creative and innovative solutions that can be deployed quickly and exceed expectations</li>
    						<li>A proactive approach that initiates actions which will truly generate additional value</li>
    					</ul>
    				
    				</div>
    			</div>
    			<div class="item right hetic">

    				<img src="dist/images/quality.png" alt="">
    				<h3>
    					Ethics & Quality
    				</h3>
    				<div class="content_values">
    					<ul>
    						<li>Primarily focused on the customer’s success</li>
                            <li>Independence</li>
                            <li>Respect of the accounting profession’s deontology and confidentiality</li>
    						<li>Clear engagement letter and fees fixed in advance</li>
    					</ul>
    				
    				</div>
    			</div>
    		</div>
    		
    	</div>
    	<div class="contact" id="contact_en">
    		<h2>Contact</h2>
    		<form action="">
    			<ul class="info">
    				<li><input type="text" placeholder="Name"></li>
    				<li><input type="text" placeholder="Email"></li>
    				<li><input type="text" placeholder="Subject"></li>
    			</ul>
    			<ul class="content">
                    <li class="message"><textarea id="message" placeholder="Message" name="message" required></textarea></li>                
                    <li class="submit">
                        <input class="send" value="Send" type="button" >
                        <div class="success"></div>
                        <div class="fail"></div>
                    </li>
                </ul>
    			
    		</form>
            <div class="info_bee">
                Belinda Morvan (FCMA, CGMA) <br>
                +33 6 38 81 78 01</p>
                <p>Finance by Bee SAS, 2 Boulevard de Courcelles, 7017 PARIS, France</p>
            </div> 
            <div class="legal">
                
The website financebybee.com is the exclusive property of the company Finance By Bee SAS with a share capital of 5,000 euros, registered at the RCS in Paris under the n° 820 368 975 with the head office at 2 boulevard de Courcelles - 75017 PARIS - APE code 7022Z.
            </div>
            <div class="copyright">&copy; FinanceByBee</div>

    	</div>

</div>