<div class="content main">
    	<div class="services" id="services">
    		<h2>Nos Services</h2>
    		<ul class="multiple_item">
    			<li class="services_parts growth left">
    				<img src="dist/images/growth.png" alt="">
    				<h3>
    					Gérer votre croissance 
 						Start Up to Scale-Up

    				</h3>
    				<div class="content_services ">
    					<ul>
    						<li>Gestion de projets (systèmes finance, paie, et ressources humaines)</li>
    						<li>Mission de diligence de cibles d’acquisition & intégration de leur comptabilité</li>
    						<li>Préparation des comptes pour le marché américain : trimestres historiques, réconciliation de normes US et locales</li>
    					</ul>
    					

						

						
    				</div>
    			</li>
    			<li class="services_parts international bottom">
    				<img src="dist/images/international.png" alt="">
    				<h3>
    					Préparer l’Internationalisation
    				</h3>
    				<div class="content_services">
    					<ul>
    						<li>Organiser votre comptabilité française en conformité avec les normes US</li>
    						<li>Rationalisation d’un plan de compte français pour l’international</li>
    					</ul>
    			
    				</div>
    			</li>
    			<li class="services_parts team bottom">
    				<img src="dist/images/team.png" alt="">
    				<h3>
    					Optimiser l’organisation de l’équipe finance
    				</h3>
    				<div class="content_services">
    					<ul>
    						<li>Revue et Implémentation de procédures et organisation du travail</li>
    						<li>Evaluation des améliorations par le biais d’implémentation d’interfaces</li>
    						<li>Assurer un travail d’équipe avec les ressources humaines et l’informatique</li>
    					</ul>
    				</div>
    			</li>
    			<li class="services_parts prevision right">
    				<img src="dist/images/prevision.png" alt="">
    				<h3>
    					Améliorer le Prévisionnel
    				</h3>
    				<div class="content_services">
    					<ul>
    						<li>Comprendre et suivre votre rentabilité et anticiper vos besoins en BFR</li>
    						<li>Mises-en œuvre de tableaux de bord pragmatiques et facile à suivre</li>
    						<li>Organiser la mise en place d’un outil de gestion prévisionnelle</li>
    					</ul>
    				</div>
    			</li>
    		</ul>
    	</div>
    	<div class="experience" id="experience">
    		<h2>Experience</h2>
    		<div class="experience_content">
	    		<div class="experiences left">
	    			<h3>Organisation d’Introduction en Bourse aux Etats Unis </h3>
	    			<div class="description">
		    			<ul>
		    				<li>
			    				Préparation et mise en conformité de comptes internationales multi entités
								relative à une introduction en bourse sur le NASDAQ  
							</li>
		    				<li>
		    					Gestion des cycles de reporting d’après les normes US GAAP et IFRS

		    				</li>
		    				<li>
		    					Organisation de la documentation Sarbanes Oxley
		    				</li>
		    			</ul>
		    		</div>
		    	</div>
		    	<div data-sr="enter right" class="experiences right">
		    		<h3>
		    			Management de la Croissance 
		    		</h3>
		    		<div class="description">
		    			<ul>
		    				<li>
    							Management de l’intégration dans les comptes consolidés de nouvelles<br> entités légales à l’international 
		    				</li>
		    				<li>
		    					Amélioration de la marge EBITDA 
		    				</li>
		    			</ul>
		    		</div>
		    	</div>
		    	<div class="experiences left ">
		    		<h3>
		    			DEploiement de SystEmes Comptables & Interfaces 
		    		</h3>
		    		<div class="description">
		    			<ul>
		    				<li>
		    					Déploiement de SAP (FI / MM / AA) en réconciliant les
		    					différentes normes comptables
		    				</li>
		    				<li>
		    					Pilotage d’un projet Smart Close afin de réduire des délais
		    					de reporting et répondre à une transition IFRS / US GAAP
		    				</li>
		    			</ul>
		    		</div>
		    	</div>
		    	<div class="experiences right">
		    		<h3>
		    			PrEvisionnel et ContrOle de Gestion
		    		</h3>
		    		<div class="description">
		    			<ul>
		    				<li>
		    					Pilotage des budgets annuels et de leurs révisions trimestrielles
		    				</li>
		    				<li>
		    					Organisation de reporting mensuel
		    				</li>
		    			</ul>
		    		</div>
		    	</div>
		    	<div class="experiences left ">
		    		<h3>
		    			Audit & FiscalitE 
		    		</h3>
		    		<div class="description">
		    			<ul>
		    				<li>		
		    					Calcul et analyse des impôts différés et organisation de l’optimisation
		    					fiscale avec réduction du taux effectif d’impôt
		    				</li>
		    				<li>
		    					Gestion de la relation avec les auditeurs et prestataires externes
		    				</li>
		    			</ul>
		    		</div>
		    	</div>
		    	<div class="experiences right">
		    		<h3>
		    			Evaluation de Projets d’Investissement
		    		</h3>
		    		<div class="description">
		    			<p>
		    				Analyses des demandes d’investissement : flux, calcul du retour sur <br>capitaux employés et de la période de « payback »
		    			</p>
		    		</div>
		    	</div>
    		</div>
    	</div>

    	<div class="values" id="nos_valeurs">
    		<h2>Nos valeurs</h2>
    		<div class="values_points">
    			<div class="item left creativity">
    				<img src="dist/images/light_bulb.png" alt="">
    				<h3>
    					Créativité & Innovation
    				</h3>
    				<div class="content_values">
    					<ul>
    						<li>Proposer des solutions créatives et innovantes qui peuvent être déployées rapidement et dépasser les attentes</li>
    						<li>Une approche proactive pour initier des actions véritablement génératrices de valeur</li>
    					</ul>
    				
    				</div>
    			</div>
    			<div class="item right hetic">

    				<img src="dist/images/quality.png" alt="">
    				<h3>
    					Ethique & Qualité
    				</h3>
    				<div class="content_values">
    					<ul>
    						<li>Notre première occupation est la réussite du client</li>
                            <li>Indépendance </li>
                            <li>Respect de la déontologie et de la confidentialité </li>
    						<li>Lettre de mission claire et honoraires fixés préalablement </li>
    					</ul>
    				
    				</div>
    			</div>
    		</div>
    		
    	</div>
    	<div class="contact" id="contact">
    		<h2>Contact</h2>
    		<form id="ajax-contact" method="POST"  action="mailer.php">
    			<ul class="info">
    				<li><input class="name" type="text" placeholder="Nom" name="name" required></li>
    				<li><input class="email" type="text" placeholder="Email" name="email" required></li>
    				<li><input class="subject" type="text" placeholder="Sujet" name="subject" required></li>
    			</ul>
    			<ul class="content">
    				<li class="message"><textarea id="message" placeholder="Message" name="message" required></textarea></li>   				
    				<li class="submit">
                        <input class="send" value="Envoyer" type="button" >
                        <div class="success"></div>
                        <div class="fail"></div>
                    </li>
    			</ul>
    			
    		</form>
    		<div class="info_bee">
                Belinda Morvan (FCMA, CGMA) <br>
				+33 6 38 81 78 01</p>
                <p>Finance by Bee SAS, 2 Boulevard de Courcelles, 7017 PARIS, France</p>
            </div> 
            <div class="legal">Le site www.financebybee.com est la propriété exclusive de la société Finance By Bee SAS au capital social de 5,000 euros, inscrite au RCS de Paris sous le n° 820 368 975 dont le siège sociale est situé au 2 boulevard de Courcelles - 75017 PARIS - code APE 7022Z.</div>
            <div class="copyright">&copy; FinanceByBee</div>

    	</div>

        
</div>