<div class="content_en head ">
    
    <div class="black-box">
    	<div class="langage">
    		<div class="en">EN / </div>
	    	<div class="fr">FR</div>
	    	<div class="flag"></div>
    	</div>
    	
    </div>
    <div class="first_text">
    	<p> <span class="white">Start Up</span>, you need assistance quickly to structure your finance team! </p>
		<p><span class="white">SME or International Group</span>, your finance department is over-stretched!<br>
        <span class="strong">Find the right balance and prepare the future</span> </p>

    </div>
    <div class="logo">
    	
        
    </div>
    <div class="second_text">
        Can assist you with finding the right operational organization
    	


    </div>
    <div class="white_bee">
                <span >BEE</span> 
                <p class="def_bee">Bi-cultural British / French national with 20 years of International Finance Director experience</p>
    </div>
    <div class="menu">
    	<ul>
    		<li><a href="#service">Our Services</a> </li>
    		<li><a href="#references">References</a></li>
    		<li><a href="#values">Our Values</a></li>
    		<!-- <li>nos valeurs</li> -->
    		<li><a href="#contact_en">Contact Us</a></li>
    	</ul>
    </div>


</div>