<div class="content head">
    
    <div class="black-box">
        <a href="#">
            <div class="langage">
                <div class="en">EN / </div>
                <div class="fr">FR</div>
                <div class="flag"></div>
            </div>
        </a>
    	
    	
    </div>
    <div class="first_text">
    	<p> <span class="white">Start Up</span>, vous souhaitez structurer rapidement votre équipe financière ! </p>
		<p><span class="white">PME & ETI internationales</span>, votre service financier est en sur régime ! <br>
		<span class="strong">Retrouver un équilibre ou préparer l’avenir</span></p>

    </div>
    <div class="logo">
    	
    </div>
    <div class="second_text">
    	
		Accompagne votre gestion opérationnelle ponctuellement pour 
		retrouver un équilibre ou préparer l’avenir
    </div>
    <div class="white_bee">
        <span>BEE</span>
        <p class="def_bee">Biculturelle - Franco Britannique avec 20 ans d’expérience de Direction Financière Internationale</p>
    </div>
   
    <div class="menu">
    	<ul>
    		<li><a href="#services">NOS SERVICES</a></li>
    		<li><a href="#experience">References</a></li>
    		<!-- <li><a href="">clients</a></li> -->
    		<li><a href="#nos_valeurs">nos valeurs</a></li>
    		<li><a href="#contact">contact</a></li>
    	</ul>
    </div>




</div>